@await Html.PartialAsync("PartialViews/_layout_original")

@*ACIMA O LAYOUT.CSHTML ORIGINAL*@

<!doctype html>
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<html class="no-js">
@await Html.PartialAsync("PartialViews/_head")
<body>
	<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	@await Html.PartialAsync("PartialViews/_navbar")
	<!-- #wrapper -->
	<div id="wrapper">
		<!-- .page-sidebar -->
		<aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
			<!-- Start .sidebar-inner -->
			<div class="sidebar-inner">
				<!-- Start .sidebar-scrollarea -->
				<div class="sidebar-scrollarea">
					@await Html.PartialAsync("PartialViews/_profile_left_sidebar")
					<!--  .sidebar-panel -->
					<div class="sidebar-panel">
						<h5 class="sidebar-panel-title">Navigation</h5>
					</div>
					<!-- / .sidebar-panel -->
					<!-- .side-nav -->
					<div class="side-nav">
						<ul class="nav">
							@await Html.PartialAsync("PartialViews/lis_do_menu_left")
						</ul>
					</div>
					<!-- / side-nav -->
					@await Html.PartialAsync("PartialViews/_menu_inferior_left")
				</div>
				<!-- End .sidebar-scrollarea -->
			</div>
			<!-- End .sidebar-inner -->
		</aside>
		<!-- / page-sidebar -->
		@await Html.PartialAsync("PartialViews/_rightsidebar")

		<!-- .page-content -->
		<div class="page-content sidebar-page right-sidebar-page clearfix">
			<!-- .page-content-wrapper -->
			<div class="page-content-wrapper">
				<div class="page-content-inner">
					<!-- .page-content-inner -->
					<div id="page-header" class="clearfix">
						<div class="page-header">
							<h2>Dashboard</h2>
							<span class="txt">Welcome to Dynamic admin</span>
						</div>
						<div class="header-stats">
							<div class="spark clearfix">
								<div class="spark-info"><span class="number">2345</span>Visitors</div>
								<div id="spark-visitors" class="sparkline"></div>
							</div>
							<div class="spark clearfix">
								<div class="spark-info"><span class="number">17345</span>Views</div>
								<div id="spark-templateviews" class="sparkline"></div>
							</div>
							<div class="spark clearfix">
								<div class="spark-info"><span class="number">3700$</span>Sales</div>
								<div id="spark-sales" class="sparkline"></div>
							</div>
						</div>
					</div>

					@RenderBody();
				</div>
				<!-- / .page-content-inner -->
			</div>
			<!-- / page-content-wrapper -->
		</div>
		<!-- / page-content -->
	</div>
	<!-- / #wrapper -->
	@await Html.PartialAsync("PartialViews/_footer")
	<!-- Back to top -->
	<div id="back-to-top">
		<a href="#">Back to Top</a>
	</div>

	@await Html.PartialAsync("PartialViews/_scripts")
</body>
</html>